@use 'variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $white;
    overflow-x: hidden;
    background: $bg-dark;
    font-family: Arial, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    font: inherit;
}