@use 'variables' as *;

.gallery {
    display: flex;
    gap: 2rem;
}

.gallery-main {
    width: 75%;

    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        border-radius: $radius-sm;
    }
}

.gallery-list {
    display: flex;
    gap: 1rem;
    width: 25%;
    flex-direction: column;

    img {
        width: 100%;
        height: 138px;
        cursor: pointer;
        object-fit: cover;
        border-radius: $radius-sm;
        transition:
            transform $transition-fast,
            opacity $transition-fast;

        &:hover {
            opacity: .8;
            transform: scale(1.03);
        }
    }
}

.active-thumb {
    outline: 4px solid $white;
}

@media (max-width: 900px) {
    .gallery {
        flex-direction: column;
    }

    .gallery-main,
    .gallery-list {
        width: 100%;
    }

    .gallery-main img {
        height: 400px;
    }

    .gallery-list {
        flex-direction: row;

        img {
            height: 100px;
        }
    }
}

@media (max-width: 600px) {
    .gallery-main img {
        height: 300px;
    }
}