@use 'variables' as *;

.grid-gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid-img {
    width: 100%;
    height: 220px;
    cursor: pointer;
    object-fit: cover;
    border-radius: $radius-sm;
    transition:
        transform $transition-fast,
        opacity $transition-fast;

    &:hover {
        opacity: .8;
        transform: scale(1.03);
    }
}

@media (max-width: 900px) {
    .grid-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-gallery {
        grid-template-columns: 1fr;
    }
}